name: On Release, Update Version and Publish to PyPi
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
  release:
    types: [published, edited]

jobs:
  build_on_macos:
    runs-on: macos-latest
    env:
      VERSION: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.version || github.event.release.tag_name }}
    permissions:
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Debug GitHub Variables
        run: |
          echo "github.event_name: ${{ github.event_name }}"
          echo "github.ref_name: ${{ github.ref_name }}"
          echo "github.event.release.tag_name: ${{ github.event.release.tag_name }}"
          echo "github.event.repository.default_branch: ${{ github.event.repository.default_branch }}"
          echo "github.event.release.target_commitish: ${{ github.event.release.target_commitish }}"
          echo "github.event.release.prerelease: ${{ github.event.release.prerelease }}"
          echo "github.event.release.draft: ${{ github.event.release.draft }}"
          echo "env.VERSION: ${{ env.VERSION }}"

      - name: Update Version in const.py
        run: |
          sed -i '' -e "s/^__version__ \= \".*\"/__version__ \= \"${{ env.VERSION }}\"/" ./src/mlx_server_orch/const.py

      - name: Commit & Push Version Changes
        if: ${{ github.event_name == 'release' && github.event.release.draft == false && github.event.release.prerelease == false  }}
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.event.release.target_commitish }}
          message: 'Updating to version ${{ github.event.release.tag_name }} [skip ci]'

      - name: Update Release with Version Changes Commit
        if: ${{ github.event_name == 'release' && github.event.release.draft == false && github.event.release.prerelease == false  }}
        run: |
          git tag -f ${{ github.event.release.tag_name }}
          git push -f origin ${{ github.event.release.tag_name }}

      - name: Setup Python 3 (with caching)
        uses: actions/setup-python@v6
        id: setup-python
        with:
          python-version: 3.12
          cache: 'pip'
          cache-dependency-path: |
            pyproject.toml

      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade build wheel setuptools
          python -m pip install -e .

      - name: Build package
        run: python -m build

      - name: Upload dist artifact
        if: ${{ (github.event_name == 'release' && github.event.release.draft == false && github.event.release.prerelease == false) || github.event_name == 'workflow_dispatch' }}
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist

  publish_from_linux:
    needs: build_on_macos
    runs-on: ubuntu-latest
    if: ${{ (github.event_name == 'release' && github.event.release.draft == false && github.event.release.prerelease == false) || github.event_name == 'workflow_dispatch' }}
    environment:
      name: ${{ github.event_name == 'workflow_dispatch' && 'testpypi' || 'pypi' }}
    permissions:
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Download dist artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - name: Publish package to PyPI
        if: ${{ github.event_name == 'release' && github.event.release.draft == false && github.event.release.prerelease == false }}
        uses: pypa/gh-action-pypi-publish@release/v1

      - name: Publish package to Test PyPI
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true
          skip-existing: true
